body{
    font-family: 'VT323', monospace;

}

.biglietto{
    position: relative;
    font-size:35px;
    text-transform: uppercase;
    width: 1000px;
}

#data {
    position: absolute;
    top: 22%;
    left: 47%;
    font-size: 44px;
}

#sconto {
    position: absolute;
    bottom: 18%;
    left: 24%;
    font-size: 35px;
}

#distanza {
    position: absolute;
    bottom: 41%;
    left: 14%;
    font-size: 35px;
}

#tariffa {
    position: absolute;
    bottom: 35%;
    left: 25%;
    font-size: 35px;
}

#totale {
	position: absolute;
	bottom: 28%;
	left: 89%;
	font-size: 35px;
}