body{
    font-family: 'VT323', monospace;

}

.biglietto{
    position: relative;
    font-size:35px;
    text-transform: uppercase;
}

#data{
    position: absolute;
    top: 21%;
    left: 32%;
    font-size: 44px;
}

#sconto {
    position: absolute;
    bottom: 18%;
    left: 17%;
    font-size: 35px;
}

#distanza {
    position: absolute;
    bottom: 41%;
    left: 11%;
    font-size: 35px;
}

#tariffa {
    position: absolute;
    bottom: 35%;
    left: 16%;
    font-size: 35px;
}

#totale {
    position: absolute;
    bottom: 28%;
    left: 55%;
    font-size: 35px;
}